@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Kalam";
}

.welcome-container {
  text-align: center;
  font-size: xx-large;
  margin: 0;
  padding: 20% 20% 0 20%;
}
.welcome-container .enter {
  text-align: center;
  background-color: #BBAE97;
  border-radius: 5px;
  border: 2px solid black;
  margin: 0 44% 0 44%;
  padding: 5px 0 5px 0;
}

.contents {
  text-align: center;
  font-size: xx-large;
  padding: 13% 16% 0 16%;
}
.contents .contents-container {
  display: grid;
  grid-template-columns: 35% 35% 35%;
  margin-top: 8%;
}
.contents .about-me {
  background-color: rgba(175, 39, 39, 0.678);
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
}
.contents .skills {
  background-color: rgba(20, 119, 20, 0.644);
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
  text-decoration: none;
}
.contents .projects {
  background-color: #AF805C;
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
}
.contents .education {
  background-color: #BBAE97;
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
}
.contents .contact {
  background-color: #f1c6ba;
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
}
.contents .cv {
  background-color: rgba(90, 156, 163, 0.7607843137);
  border-radius: 5px;
  margin: 10%;
  padding: 5%;
}

.about-me {
  text-align: center;
  font-size: xx-large;
}
.about-me h1 {
  margin: 0;
}
.about-me .about-me-container {
  font-size: xx-large;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 8% 20% 0% 20%;
}
.about-me .about-me-container .about-description {
  font-size: smaller;
}
.about-me .about-me-container .profile {
  border-radius: 100%;
}

.skills {
  text-align: center;
  font-size: xx-large;
}
.skills h1 {
  margin: 0;
  padding-top: 15%;
}
.skills .skills-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 2%;
}
.skills .icons {
  padding: 1% 5% 0 0;
}

.education {
  font-size: xx-large;
}
.education h1 {
  text-align: center;
  margin: 0;
  padding-top: 9%;
  margin-bottom: 30px;
}
.education .education-container {
  position: absolute;
  left: 40%;
  align-items: end;
}
.education h4 {
  padding: 0;
  margin-bottom: 0;
}
.education h5 {
  margin: 0;
}

.contact {
  font-size: xx-large;
}
.contact h1 {
  text-align: center;
  margin: 0;
  padding: 10%;
}
.contact .contact-container {
  display: grid;
  grid-template-columns: 100%;
  position: absolute;
  left: 40%;
}
.contact .contact-container .number {
  position: relative;
  bottom: 40px;
}
.contact .contact-container .linkedin {
  position: relative;
  top: 20px;
}
.contact .contact-container .github {
  position: relative;
  top: 90px;
}
.contact .contact-container .email {
  position: relative;
  top: 160px;
}

@media only screen and (max-width: 600px) {
  .welcome-container {
    text-align: center;
    margin: 0;
    padding: 30% 0 15% 0;
  }
  .welcome-container .enter {
    margin: 0 30% 0 30%;
  }
  .contents {
    text-align: center;
    font-size: large;
  }
  .contents .contents-container {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 8%;
  }
  .contents .about-me {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .contents .skills {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .contents .projects {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .contents .education {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .contents .contact {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .contents .cv {
    border-radius: 8px;
    margin: 6%;
    padding: 5%;
  }
  .about-me h1 {
    margin-bottom: -10%;
  }
  .about-me .about-me-container {
    display: grid;
    grid-template-columns: 100%;
  }
  .about-me .about-me-container .about-description {
    font-size: 48%;
  }
  .about-me .about-me-container .profile {
    width: 100%;
    height: auto;
  }
  .skills h1 {
    margin-bottom: -10%;
  }
  .skills .skills-container {
    display: block;
    grid-template-columns: 100%;
  }
  .skills li {
    font-size: 50%;
    margin: 0;
  }
  .skills ul {
    padding-inline-end: 17px;
  }
  .skills .icons {
    width: 15vw;
    height: 8vh;
    padding-left: 5%;
  }
  .education {
    text-align: center;
  }
  .education .education-container {
    position: relative;
    left: 0;
  }
  .contact {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }
  .contact h1 {
    margin: 0;
  }
  .contact .contact-container {
    text-align: center;
    font-size: 59%;
    padding: 0;
    position: absolute;
    bottom: 50%;
    left: 3%;
  }
}

/*# sourceMappingURL=output.css.map */
